[Unit]
Description=Notify Discord of IP address (Go binary)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ip-notify

[Install]
WantedBy=multi-user.target
